#calculator {
    background-color: #fff;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.299);
    text-align: center;

    h1 {
        color: #ff9100;
        font-weight: 200;
        margin-bottom: 15px;
    }

    #display {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #eef;
        padding: 10px;
        height: 60px;
        text-align: right;
        font-size: 32px;
    }

    #buttons {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 15px;

        .btn {
            width: 20%;
            flex: 1 1 auto;
            font-size: 24px;
            height: 60px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #ddd;

            &.operator {
                background-color: #ff9100;
                color: #fff;
            }

            &.equal {
                color: #fff;
                background-color: #4caf50;
            }

            &.clear {
                color: #fff;
                background-color: #ff5252;
                flex: 0 0 100%;
            }
        }
    }
}